./AERO-GNN-main/run/.ipynb_checkpoints/*
AERO-GNN-main/.ipynb_checkpoints/
AERO-GNN-main/AERO-GNN/.ipynb_checkpoints/
AERO-GNN-main/AERO-GNN/__pycache__/
AERO-GNN-main/run/.ipynb_checkpoints/
./AERO-GNN-main/grapt-data/*
